.reportTableWrapper {
  width: 80%;
  max-width: 800px;
  margin: 60px auto 0;
}

.dateSearchLavel {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.inputDateSearch {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 0 50px 0;
  padding: 0 0 0 15px;
}

.inputDateSearch div input {
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #454545;
  border-radius: 4px;
}

.inputDateSearch div span {
  color: #000;
  font-weight: bold;
  margin: 0 15px;
}

.inputDateSearch button {
  color: #fff;
  font-size: 20px;
  padding: 3px 10px;
  margin: 0 0 0 20px;
  border: 0px none;
  background-color: #ef5c2e;
  border-radius: 4px;
}

.inputDateSearch button:hover {
  background-color: #ff7b4d;
}

.listTable {
  margin: 0 0 50px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr th {
  color: #000;
  text-align: left;
  font-size: 20px;
  border-bottom: 2px solid #000;
  padding-left: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #c3ecca;
}

tbody tr td {
  border: 0px none;
  color: #000;
  font-size: 20px;
  padding: 5px 0 5px 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody tr td:last-child {
  text-align: center;
  padding: 5px 0;
}

tbody tr td button {
  color: #fff;
  font-size: 20px;
  background-color: #18d737;
  border: 0px none;
  border-radius: 8px;
}
tbody tr td button:hover {
  background-color: #1ae03b;
}

.paginate {
  text-align: center;
}

.paginate button {
  color: #000;
  font-size: 15px;
  padding: 3px 10px;
  margin: 0 5px;
  border: 0px none;
  background-color: RGB(217, 217, 217);
  border-radius: 4px;
}

.paginate button.prev:hover,
.paginate button.next:hover,
.paginate button.pageNum:hover {
  background-color: #eee;
}

.paginate button.currentPageNum {
  background-color: #c3ecca;
  padding: 10px;
}
